<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="styles/base.css" />
		<title>Visualizing JS - ThreeJS Globe</title>
	</head>
	<body>
		<div id="three"></div>
        
        <!-- <script charset="utf-8" src="../static/scripts/jquery.js"></script>
        <script charset="utf-8" src="../static/scripts/three.js"></script>
        <script charset="utf-8" src="../static/scripts/ColladaLoader.js"></script>
        <script charset="utf-8" src="../static/scripts/skip.js"></script>
        -->
        
        <div class="bottom" id="inlineDoc" >
                        - <i>p</i> for screenshot
                </div> 
        
        <!-- forAppEngine -->
        <script charset="utf-8" src="scripts/jquery.js"></script>
        <script charset="utf-8" src="scripts/three.js"></script>
        <script charset="utf-8" src="scripts/THREEx.screenshot.js"></script>
        <script charset="utf-8" src="scripts/THREEx.FullScreen.js"></script>
        <script charset="utf-8" src="scripts/stats.js"></script>
        <script charset="utf-8" src="scripts/ColladaLoader.js"></script>
        <script charset="utf-8" src="scripts/skip.js"></script>
        <script charset="utf-8" src="scripts/application.js"></script>
	</body>
</html>